.mui-pull-bottom-tips {
	text-align: center;
	background-color: #F4F4F4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

body {
	background: #F4F4F4;
}

.mui-content {
	background: #F4F4F4;
}

#header_sousuo {
	max-height: 3.2rem;
	width: 100%;
	overflow: hidden;
	border-bottom: solid 1px #E0E0E0;
	background-color: #ff4404;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 222;
}

#header_sousuo a {
	display: inline-block;
	float: left;
	width: 15%;
	height: 3.2rem;
	background: url(../img/return.png) no-repeat 12px center;
	background-size: 50% 50%;
}

#header_sousuo h1 {
	line-height: 3.2rem;
	width: 100%;
	text-align: center;
	font-size: 1.0rem;
}

#header_sousuo i {
	display: inline-block;
	width: 15%;
	height: 3.2rem;
	background: url(../img/return.png) no-repeat 12px center;
	background-size: 50% 50%;
	position: absolute;
	left: 0;
	top: 0;
}


/*商家产品搜索样式*/

.mui-content {
	margin-top: 3.2rem;
}

.tianjian_sousuo {
	width: 100%;
	border-bottom: solid 1px #EBEBEB;
	background: #fff;
	height: 2.6rem;
}

.tianjian_sousuo ul {
	width: 100%;
	float: left;
	overflow: hidden;
}

.tianjian_sousuo ul li {
	float: left;
	min-height: 30px;
	text-align: center;
	padding: 0.4rem 0;
	width: 25%;
}

.tianjian_sousuo ul li a {
	color: #000000;
	display: block;
	height: 1.8rem;
	line-height: 1.8rem;
	font-size: 0.8rem;
}

.tianjian_sousuo ul li a.jiashen {
	color: #AC2925;
}

.tianjian_sousuo ul li:last-child {
	width: 25%;
	border-left: solid 1px #ddd;
}

.tianjian_sousuo ul li #qiehuan {
	width: 100%;
	text-align: center;
	float: left;
}

#tiaojian {
	width: 100%;
	border-bottom: solid 1px #EBEBEB;
	overflow: hidden;
	background: #fff;
}


/*条件选择样式*/

#tiaojian ul {
	width: 60%;
	float: left;
	overflow: hidden;
	padding-top: 1%;
}

#tiaojian ul li {
	float: left;
	min-height: 30px;
	text-align: center;
	padding: 2% 0;
}

#tiaojian ul li a {
	color: #000000;
	display: block;
	font-size: 1.0rem;
}

#tiaojian ul li a.jiashen {
	color: #AC2925;
}

#tiaojian ul li:first-child {
	width: 53%;
}

#tiaojian ul li:last-child {
	width: 46%;
}

#tiaojian ul li:first-child a s {
	display: inline-block;
	max-width: 16px;
	max-height: 16px;
}

#tiaojian ul li:first-child a s img {
	width: 100%;
}

#tiaojian #qiehuan {
	max-width: 9%;
	/*height: 100%;*/
	margin-left: 8%;
	padding: 1%;
	text-align: center;
	float: left;
	border-right: 1px #D5D5D5 solid;
}

#tiaojian #qiehuan img {
	width: 100%;
	margin: 2% 0 2%;
}

@media only screen and (max-width:767px) {
	#tiaojian #qiehuan img {
		width: 100%;
		margin: 2% 0 2%;
	}
}

@media only screen and (min-width:767px) {
	#tiaojian #qiehuan img {
		width: 50%;
		margin: 2% 0 2%;
	}
	#shuaixuan img {
		width: 22%;
	}
}


/*条件判断弹窗样式*/

#tiaojian ul li:first-child div {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: 9999;
}

#tiaojian ul li:first-child dl {
	width: 100%;
	z-index: 99999;
	background: rgba(255, 255, 255, 1);
	text-align: left;
	border: solid 1px #F7F7F7;
}

#tiaojian ul li:first-child dl dd a {
	display: inline-block;
	color: #020202;
	font-size: 0.9rem;
}

#tiaojian ul li:first-child dl dd s.dagou {
	width: 20px;
	display: inline-block;
	height: 15px;
	float: right;
	margin-right: 10%;
	background: url(http://yiyun.zhonyou.cn/webapp_img/dagou.png) no-repeat;
	background-position: right center;
	background-size: 15px;
}

#tiaojian ul li:first-child dl dd {
	width: 95%;
	margin: 0 2.5%;
	padding: 2%;
	border-bottom: solid 1px #EBEBEB;
}

#tiaojian ul li:first-child dl dd:last-child {
	border: none;
}

#shuaixuan {
	padding-top: 1%;
	float: right;
	display: inline-block;
	width: 20%;
	color: #000000;
	min-height: 30px;
	line-height: 30px;
	font-size: 1.0rem;
	text-align: center;
}

#shuaixuan img {
	width: 28%;
}


/*最外层div阴影*/

.shuaixuan_bg {
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.2s all;
	position: fixed;
	left: 100%;
	top: 0%;
	z-index: 999;
	height: 100%;
	overflow: hidden;
}


/*弹窗内容*/

.shuaixuan_all {
	overflow: scroll;
	height: 100%;
	width: 80%;
	background: #fff;
	position: relative;
	/*float: right;*/
	margin-left: 20%;
}

.shuaigxuan_one {
	width: 95%;
	padding-left: 5%;
	margin-bottom: 5%;
}

.shuaigxuan_one h1,
.shuaigxuan_two h1 {
	min-height: 30px;
	line-height: 30px;
	font-size: 0.9rem;
}

.shuaigxuan_one li {
	display: inline-block;
	width: 32%;
	margin-bottom: 2%;
	color: #000000;
	text-align: center;
	border-radius: 1px;
	background: #DDDDDD;
	padding: 4% 0;
}

.shuaigxuan_one li.active {
	background: #122B40;
	color: #fff;
}

.shuaigxuan_one li.active a {
	color: #fff;
}

.shuaigxuan_one li a {
	display: block;
	color: #000000;
}

.shuaigxuan_two {
	width: 95%;
	padding-left: 5%;
}

.shuaigxuan_two>ul>li:first-child {
	border-top: solid 1px #E5E5E5;
}

.shuaigxuan_two>ul>li {
	width: 100%;
	border-bottom: solid 1px #E5E5E5;
	min-height: 30px;
}

.shuaigxuan_two>ul>li a {
	width: 100%;
	display: inline-block;
	font-size: 0.9rem;
	min-height: 25px;
	line-height: 25px;
	margin: 2% 0 1%;
}

.shuaigxuan_two>ul>li a s {
	display: inline-block;
	min-height: 30px;
	line-height: 30px;
	width: 10%;
}

.shuaigxuan_two>ul>li a s img {
	width: 70%;
}

.xiala_item {
	height: 0;
	width: 100%;
	overflow-y: hidden;
}

.xiala_item li {
	display: inline-block;
	width: 32%;
	margin-bottom: 2%;
	border: solid 1px #CDCDCD;
	padding: 1% 2%;
	text-align: center;
}

.xiala_item li.active2 {
	background: #CDCDCD;
}

.xiala_item li.active2 a {
	color: #fff;
}

.shuaixuan_all div.shezhi {
	width: 100%;
	overflow: hidden;
	background: #D58512;
	border-radius: 0;
	position: relative;
	bottom: 0;
	right: 0;
	vertical-align: bottom;
}

.shuaixuan_all div.shezhi button {
	width: 50%;
	float: left;
	padding: 4%;
	font-size: 1.0rem;
	text-align: center;
	border-radius: 0;
	background: #007AFF;
	display: inline-block;
}

.shuaixuan_all div.shezhi button:last-child {
	background: #286090;
}

@media only screen and (min-width: 415px) {
	.sousokuang {
		margin-top: 0.5%;
	}
}