<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/mui.min.js"></script>
		<script src="js/vue.min.js" type="text/javascript"></script>
		<link rel="stylesheet" href="css/mui.min.css" />
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/bimaiqingdan.css" />
		<title>必买清单</title>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav" style="background-color:#fd4404;">
			<button class="mui-action-back mui-btn mui-btn-blue mui-btn-link mui-btn-nav mui-pull-left" style="color: #fff;"><span class="mui-icon mui-icon-left-nav" style="font-size: 1.1rem;">必买清单</span></button>
		</header>
		<div class="mui-content">
			<ul class="daohang">
				<li>
					<a class="active" href="javascript:;">攻略</a>
				</li>
				<li>
					<a href="javascript:;">好物</a>
				</li>

			</ul>
			<div class="chanpin_list" id="chanpin_list">
				<ul>

					<li v-for="item in items">
						<a href="javascript:;" :data-guid="item.goodsId" @tap="open_detail(item)">
							<div class="produce_img"><img :src="item.picture" onerror="this.src='img/moren.png'" width="130PX" height="130px"> </div>
							<div class="produce_item">
								<h1>{{item.goodsName}}</h1>
								<h2><s class="fl col-orange">￥<i class="price ">{{item.promotionPrice}}</i>  </s><em class="sales fr">销售量{{item.sales}}</em></h2>

							</div>

						</a>
					</li>
				</ul>
				<ul style="display: none;">

					<li v-for="item in items1">
						<a href="javascript:;" :data-guid="item.goods_id" @tap="open_detail(item)">
							<div class="produce_img"><img :src="item.picture" onerror="this.src='img/moren.png'" width="130PX" height="130px"> </div>
							<div class="produce_item">
								<h1>{{item.goodsName}}</h1>
								<h2><s class="fl col-orange">￥<i class="price ">{{item.promotionPrice}}</i>  </s><em class="sales fr">销售量{{item.sales}}</em></h2>

							</div>

						</a>
					</li>
				</ul>
			</div>
		</div>

		<script>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			var url_app = mui.app_url();

			function getDefaultData() {
				return {
					items: [], //列表信息流数据
					uid: "",
					items1: []

				}
			}
			var webview_detail;
			var news = new Vue({
				el: '#chanpin_list',
				data: getDefaultData(),
				methods: {
					resetData: function() { //重置数据
						Object.assign(this.$data, getDefaultData());
					}
				}
			});
			//遍历产品属性
			function convert(items) {
				var newItems = [];
				items.forEach(function(item) {
					newItems.push({
						goodsId: item.goodsId,
						goodsName: item.goodsName,
						price: (item.price).toFixed(2),
						picture: item.picture, //商品所有图片/
						promotionPrice: (item.promotionPrice).toFixed(2) //商品促销价格
					});
				});
				return newItems;
			}
			mui.plusReady(function() {
				//加载产品列表
				var wd = plus.nativeUI.showWaiting();
				mui.getJSON(url_app + "nsgoods/selectByCategoryId?CategoryId=2", function(rsp) {
					if(rsp.list && rsp.list.length > 0) {
						news.items = convert(rsp.list).concat(news.items);
					} else {
						mui.toast("当前商品为空")
					}
				});
				mui.getJSON(url_app + "nsgoods/select", function(rsp) {
					if(rsp.list && rsp.list.length > 0) {
						news.items1 = convert(rsp.list).concat(news.items1);
					} else {
						mui.toast("当前商品为空")
					}
				});
				wd.close();
				webview_detail = plus.webview.getWebviewById("chanpin_xiangqing");
				if(!webview_detail) {
					webview_detail = mui.preload({
						url: 'chanpin_xiangqing.html',
						id: 'chanpin_xiangqing',
						styles: {
							popGesture: "close",
							titleNView: {
								autoBackButton: true,
								backgroundColor: '#f7f7f7',
								titleText: "产品详情",
								splitLine: {
									color: '#cccccc'
								},
								type: "transparent"
							},
							statusbar: {
								background: "#ddd"
							},
							show: {
								event: 'loaded'
							},
							waiting: {
								autoShow: true
							},

						}
					});
				}
			})

			function open_detail(item) {
				//打开商品详情
				if(!item.goodsId) {
					mui.toast("当前页面未加载完,请稍后");
					return false;
				}
				mui.fire(webview_detail, 'get_detail', {
					goodsId: item.goodsId, //产品id
					picture: item.picture //产品id

				});
				setTimeout(function() {
					webview_detail.show("slide-in-right", 300);
				}, 150);
			}
			mui(".daohang").on("tap", "li", function() {
				$(".daohang > li > a").removeClass("active");
				$(this).children("a").addClass("active");
				var index = $(this).index();
				$("#chanpin_list > ul ").eq(index).show().siblings().hide();
			})
		</script>
	</body>

</html>