.header{
		width: 100%;
		height: 2.5rem;
		background-color: white;
}

.location {
	width: 22%;	
	height: 2.5rem;
	float: left;
}

.location_img{
	width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem 0 0 0.5rem;
	
}

.dizhi{
	line-height: 2.5rem; 
	font-size: 0.7rem;
	color: pink;
	float: right;
}

.Scan{
    width: 17%;	
	height: 2.5rem;
	float: right;
	padding-left: 10px auto;
}

.Scan_img{
	width: 2rem;
	height: 2rem;
	margin: 0.2rem 1rem;
}

.sousuo{
	width: 62%;
    font-size: 0.6rem;
    display: inline-block;
    height: 1.7rem;
    line-height: 1.7rem;
    color: #999999;
    border-radius: 0.4rem;
    position: absolute;
    left: 22.5%;
    top: 0.39rem;
    background: #6b575714 url(images/search.png) no-repeat 8px center;
    background-size: 20px 20px;
}
.sousuo img{
	width: 1rem;
    float: left;
    margin: 0.4rem 0.4rem;
}
.nav{
	width: 100%;
    height: 1.1rem;
    overflow: hidden;
    max-height: 2.5rem;
    background-color: white;
    border-top: 0.6rem solid white;
}

.hang{
    list-style-type: none;
    display: flex;
    position: relative;
    width: 100%;
    height: 1rem;
    overflow: hidden;
}
 
.hang li{
    float: left;
    text-align: center;
    height: 1rem;
    /*width: 16.66%;*/
    line-height: 1rem;
    color: #fff;
    position: relative;
}

.hang li a {
    display: block;
    color: gray;
    text-align: center;
    margin: auto 0.7rem;
    text-decoration: none;
    line-height: 1rem;
    font-size: 0.6rem;
}

.lie a:hover {
    background-color: #111;
    color: pink;
}
.nav .hang .lie #chang{
	width: 19.66%;
}
.nav .hang .lie #duan{
	width: 16.5%;
}

.rotation_chart{
	width: 100%;
	height: 9rem;
}
.lunbotu{
	width:100%;
	height: 9rem; 
}
.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
    height: 9px;
    width: 9px;
    margin: 98px 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover{
    background-color: #ddcfcf; 
}
.nav .active{
    color: pink;
    border-bottom: 0.9rem solid #f619a0;
}
.remen{
	width: 100%;
    height: 2.3rem;
    margin-top: 0.5rem;
    border-top: 0.09rem solid #f4f4f4;
}
.remen #haohuo{
    width: 22%;
    height: 0.8rem;
    color: pink;
    text-align: center;
    font-size: 0.8rem;
    float: left;
    margin: 0.7rem 0 0.7rem 0.1rem;
    border-right: 0.01rem solid #f5e6e6;
}
.remen #huan{
    width: 75%;
    height: 2rem;
    color: #020202;
    float: right;
    font-size: 0.7rem;
    line-height: 2rem;
    text-align: center;
}
#scrollBox{
	height: 16px;
    width: 100%;
    float: right;
    overflow: hidden;
    margin-top: 0.59rem;
}

#scrollBox #con1,#con2{
	width: 280px;
	float: left;
}

#scrollBox li{
	height: 15px;
	line-height: 15px;
	text-align: left;
}
.img_left{
	width: 49.5%;
	float: left;
	height: 11.78rem;
}
.img_left #left_top{
	width: 100%;
	height: 5.9rem;
	background-color: #f5ebed;
	border-bottom: white 0.01rem solid;
}
.img_left #left_bottom{
	width: 100%;
    height: 5.9rem;
    float: left;
    background-color: #f6f2ed;
}
.img_left #left_top img{
	width: 60%;
	height: 48%;
	float: left;
	margin: 0.1rem 0 0 1.9rem;
}
.img_left #left_top #jieshaoA{
    width: 60%;
	height: 48%; 
	margin:0 auto;
}
.img_left #left_top #jieshaoA #a{
    font-size:0.6rem;
    color: black;
}
.img_left #left_top #jieshaoA #b{
    font-size:0.1rem;
    color: black;
}
.img_left #left_top #jieshaoA #c{
    font-size:0.1rem;
    color: black;
}
.img_left #left_top #jieshaoA #c s{
    color: red;
}
.img_left #left_top #xinpin{
	width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    font-size: 0.1rem;
    text-align: center;
    line-height: 1.2rem;
    color: white;
    float: right;
    margin-right: 0.3rem;
    background-color: #f9707f;
    box-shadow: 0.01rem 0.11rem 0.6rem #888888;
}
.img_left #left_bottom img{
    width: 3.5rem;
    height: 4.3rem;
    float: left;
    margin: 0.7rem 0 0 0.5rem;
}
.img_left #left_bottom #bottom_rirht{
	width: 5rem;
    height: 2.5rem;
    float: right;
    margin: 1.5rem 0.01rem 0 0;
    /*background-color: yellow;*/
}
.img_left #left_bottom #bottom_rirht #a{
	font-size:0.7rem;
    color: black;
}
.img_left #left_bottom #bottom_rirht #b{
	font-size:0.4rem;
    color: black;
}
.img_left #left_bottom #bottom_rirht a{
	font-size: 0.4rem;
    color: #f4dda8;
}
.img_right{
	width: 50%;
	float: right;
	height: 11.78rem;
	background-color: #e8f0ef;
}
.img_right img{
	width: 80%;
    height: 52%;
    display: block;
    margin: 0.6rem 0.5rem 0 0.8rem;
}
#wenzi{
    width: 89%;
    height: 31%;
    display: block;
    margin: 0.6rem 0.5rem 0 0.5rem;
}
.img_right #wenzi #a{
    font-size: 0.62rem;
    color: black;
    margin-top: 1rem;
}
.img_right #wenzi #b{
    font-size: 0.1rem;
    line-height: 1.1rem;
    color: black;
}
.img_right #wenzi #c{
    font-size:0.1rem;
    color: black;
}
.img_right #wenzi #c s{
    color: red;
    font-size: 0.75rem;
}
.wang{
	 width: 100%;
    height: 9rem;
    border-top: 0.3rem solid #e9e9e9;
    border-bottom: 0.3rem solid #e9e9e9;
    float: left;
}
/*.wang #weiqiang {
	width: 12rem;
    height: 3.1rem;
    margin-left: 1rem;
}
.wang #weiqiang #a{
	font-size: 1rem;
	line-height: 2rem;
	font-weight: 900;
    color: black;
}
.wang #weiqiang #b{
	font-size: 0.72rem;
    color: rgb(49, 48, 48);
}*/
.wang img{
    width: 100%;
    height: 9rem;
}
.cai{
	width: 93%;
    float: left;
    margin: 0 0.8rem;
}
.cai #cai{
	font-size: 1rem;
	width: 100%;
	height: 1.5rem;
	color: pink;
	line-height: 1.5rem;
}
.cai .waikuang{
	width: 47%;
    height: 15.7rem;
    float: left;
    background-color: #f0ecec;
    border-right: 0.5rem solid white;
    margin-bottom: 0.5rem;
}
.cai .waikuang img{
	width:100%;
	height: 9rem;
}

.cai .waikuang .logo{
	width: 16%;
    height: 1.2rem;
    background-color: #c2abc0;
    color: white;
    font-size: 0.7rem;
    text-align: center;
    line-height: 1.2rem;
    position: absolute;
    margin: -0.59rem 0 0 0.4rem;
}
.cai .waikuang #A{
	width: 90%;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.7rem;
    margin: 1.2rem 0 0 0.5rem;
    /*border: 0.01rem solid gray;*/
}
.cai .waikuang #B{
	width: 90%;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0.4rem 0 0 0.5rem;
}
.cai .waikuang #B #money{
	float: left;
	font-size: 0.7rem;
    color: red;
}
.cai .waikuang #B #buy{
	width: 47%;
    height: 1.3rem;
    float: right;
    color: white;
    text-align: center;
    line-height: 1.3rem;
    font-size: 0.65rem;
    background-color: rgb(255,192,203);
    border-radius: 1rem;
}
.cai .waikuang #C{
	width: 94%;
    height: 2rem;
    line-height: 2rem;
    font-size: 0.56rem;
    border-top: 0.001rem solid #cccccc;
    margin: 0.5rem 0 0 0.5rem;
}